{% extends 'base.html' %}

{% block header %}
  Members
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Members</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="statistics col-lg-3 col-12">
    <div class="statistic d-flex align-items-center bg-white has-shadow">
      <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
      <div class="text"><strong>{{ total_count }}</strong><br><small>Members</small></div>
    </div>
  </div>

	<!--<div class="col-sm-4">
    <div class="card-widget card-inverse card-success">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-2">
          <a href="{% url 'members:member_profile_add' %}"><i class="fa fa-user-plus"></i></a>
        </div>
        <div class="h4 mb-0">{{ total_count }}</div>
        <small class="text-muted text-uppercase font-weight-bold">Members</small>
      </div>
    </div>
  </div> -->
</div>
<div class="row mt-30">
	<div class="col-md-12">
	  <div class="card">
		<div class="card-close">
		  <div class="dropdown">
			<button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
			<div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
		  </div>
		</div>
		<div class="card-header d-flex align-items-center">
		  <h3 class="h4">Members</h3>
		</div>
		<div class="card-body">
		  <div class="table-responsive">
			<table class="table">
			  <thead>
				<tr>
				  <th>id</th>
				  <th>First Name</th>
				  <th>Last Name</th>
				  <th>Gender</th>
				  <th>Status</th>
				  <th>Member Since</th>
				  <th>Active</th>
				</tr>
			  </thead>
			  <tbody>
				{% for member in members %}
					<tr>
					  <th scope="row">{{ member.pk }}</th>
					  <td>{{ member.firstname }}</td>
					  <td>{{ member.lastname }}</td>
					  <td>{{ member.gender }}</td>
					  <td>{{ member.marital_status }}</td>
					  <td>{{ member.member_since }}</td>
					  <td>{{ member.active_member }}</td>
					</tr>
				{% endfor %}
			  </tbody>
			</table>
		  </div>
		</div>
	  </div>
		<!--<div class="card">
		<h4 class="card-header ch-bg">
			<span><i class="fa fa-bars" aria-hidden="true"></i><span> Member List
		</h4>

		<div class="card-body">
			<table class="table table-responsive">
				<thead class="thead-inverse">
					<tr>
                        <th>id</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Location</th>
						<th>Gender</th>
						<th>Status</th>
						<th>Birth Date</th>
						<th>Member Since</th>
						<th>Active</th>
						<th>Contact Number</th>
						<th>Date Updated</th>
					</tr>
				</thead>
				<tbody>
                    {% for member in members %}
						<tr>
							<td>{{ member.pk }}</td>
							<td>{{ member.firstname }}</td>
							<td>{{ member.lastname }}</td>
							<td>{{ member.location }}</td>
							<td>{{ member.gender }}</td>
							<td>{{ member.marital_status }}</td>
							<td>{{ member.birthdate }}</td>
							<td>{{ member.member_since }}</td>
							<td>{{ member.active_member }}</td>
							<td>{{ member.contact_number1 }}</td>
							<td>{{ member.date_modified }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		</div> 
		-->
	</div> <!-- ./col-md-12 -->
</div> <!-- ./row -->
{% endblock %}
