{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
  {% include 'includes/sidebar.html' with events_active="active" %}
{% endblock sidebar %}

{% block header %}
  Members
{% endblock header %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Events</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Event Status</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>All</option>
        <option>Recent</option>
        <option>Ongoing</option>
        <option>Upcoming</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <!-- events-->
  <div class="col-lg-12">
    <div class="daily-feeds card">
	  <div class="card-close">
	    <div class="dropdown">
	  	<a href="{% url 'events:new'  %}" class="btn btn-outline-dark">
	  	<i class="fa fa-plus-circle" aria-hidden="true"></i> Create Event</a>
	    </div>
	  </div>
	  <div class="card-header d-flex align-items-center">
	    <h3 class="h4">Feast Events</h3>
	  </div>
      <div class="card-body no-padding">
        {% for event in events %}
          <!-- event -->
          <div class="item clearfix">
            <div class="feed d-flex justify-content-between">
              <div class="feed-body d-flex justify-content-between">
                  <a href="#" class="feed-profile"><img src="{% static 'img/login-bg.jpg' %}" alt="person" class="img-fluid rounded-circle"></a>
                <div class="content">
                    <h5>{{ event.name }}</h5><span>Location: {{ event.location }}</span>
                  <div class="full-date"><small>{{ event.start_date }} - {{ event.end_date }}</small></div>
                </div>
              </div>
              <div class="date text-right"><span class="badge badge-success badge-events" >{{ event.event_status }}</span></div>
            </div>
            <div class="quote has-shadow"> <small>{{ event.description }}</small></div>
            <div class="CTAs pull-right">
                {% for ministry in event.attending_ministries.all %}
                  <a href="{% url 'ministry_group:details' ministry.ministry.pk %}" class="btn btn-xs btn-secondary">
                  <i class="fa fa-universal-access"> </i>{{ ministry.ministry }}</a>
                {% endfor %}
            </div>
          </div>
          <!-- ./event -->
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- ./events-->

</div>
{% endblock content %}
