{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
{% include 'includes/sidebar.html' with events_active="active" %}
{% endblock sidebar %}

{% block header %}
Members
{% endblock header %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Events</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row event-filter">
  <div class="col-lg-6">
    <a href="{% url 'events:new'  %}" class="btn btn-outline-dark">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Create Event</a>
  </div>
  <div class="col-lg-6">
    <form action="{% url 'events:list' %}" method="GET">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="q" placeholder="Search event name, type, status" value="{{ search_param }}">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Go!</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  {% for event in events %}
  <div class="col-sm-6 col-md-4">
    <div class="client card event">
      <img src="{% static 'img/feast-event-default-cover.jpg' %}" class="card-img-top">
      <div class="card-body text-center">
        <div class="status bg-green"></div>
        <div class="client-title">
          <h3>{{ event.name }}</h3>
          <span>{{ event.event_type }}</span>
          <a href="#">{{ event.event_status }}</a>
        </div>
        <div class="client-info">
          <div class="row">
            <div class="col-6"><strong>20</strong><br><small>Attendees</small></div>
            <div class="col-6"><strong>54</strong><br><small>Attended</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- events-->
  <!-- <div class="col-lg-12">
    <div class="daily-feeds card">
	  <div class="card-close">
	    <div class="dropdown">
	  	<a href="{% url 'events:new'  %}" class="btn btn-outline-dark">
	  	<i class="fa fa-plus-circle" aria-hidden="true"></i> Create Event</a>
	    </div>
	  </div>
	  <div class="card-header d-flex align-items-center">
	    <h3 class="h4">Feast Events</h3>
	  </div>
      <div class="card-body no-padding">
        {% for event in events %}
          <div class="item clearfix">
            <div class="feed d-flex justify-content-between">
              <div class="feed-body d-flex justify-content-between">
                  <a href="#" class="feed-profile"><img src="{% static 'img/login-bg.jpg' %}" alt="person" class="img-fluid rounded-circle"></a>
                <div class="content">
                    <h5>{{ event.name }}</h5><span>Location: {{ event.location }}</span>
                  <div class="full-date"><small>{{ event.start_date }} - {{ event.end_date }}</small></div>
                  <div class="full-date"><small><strong>Speaker:</strong> {{ event.speaker }}</small></div>
                  <div class="full-date"><small><strong>Worship Leader:</strong> {{ event.worship_leader }}</small></div>
                </div>
              </div>
              <div class="date text-right">
                {% if event.event_status == 'ONGOING' %}
                  <span class="badge badge-success badge-events" >{{ event.event_status }}</span>
                {% elif event.event_status == 'RECENT' %}
                  <span class="badge badge-dark badge-events">{{ event.event_status }}</span>
                {% else %}
                  <span class="badge badge-info badge-events">{{ event.event_status }}</span>
                {% endif %}
              </div>

            </div>
            <div class="quote has-shadow"> <small>{{ event.description }}</small></div>
            <div class="CTAs pull-right">
                {% for ministry in event.attending_ministries.all %}
                  <a href="{% url 'ministry_group:details' ministry.ministry.pk %}" class="btn btn-xs btn-secondary">
                  <i class="fa fa-universal-access"> </i>{{ ministry.ministry }}</a>
                {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div> -->
  <!-- ./events-->

</div>
{% endblock content %}