{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
{% include 'includes/sidebar.html' with home_active="active" %}
{% endblock sidebar %}

{% block header %}Dashboard{% endblock %}

{% block content %}

<div class="row">
  <!-- Work Amount  -->
  <div class="col-md-4">
    <div class="client card">
      <img src="{% static 'img/feast-event-default-cover.jpg' %}" class="card-img-top">
      <div class="card-body text-center">
        <div class="status bg-green"></div>
        <div class="client-title">
          <h3>Jason Doe</h3><span>Web Developer</span><a href="#">Follow</a>
        </div>
        <div class="client-info">
          <div class="row">
            <div class="col-4"><strong>20</strong><br><small>Photos</small></div>
            <div class="col-4"><strong>54</strong><br><small>Videos</small></div>
            <div class="col-4"><strong>235</strong><br><small>Tasks</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}