/* your styles go here */
.mt-30 {
    margin-top: 30px;
}

.card .card-body .value {
    font-weight: 400;
}  

.project:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.text .h4 {
    margin-bottom: 0px !important;
    color: #555 !important;
}

.badge-events {
    color: #fff !important;
}

.event-table-header {
    text-align: left;
    margin-top: 30px;
}
